-----------
*
-----------
!.tmux.conf
!.vimrc
!.zshrc
!.gitignore
!.gitignore.global
!.gitconfig
!.vim
!.config
.config/.secrets
!.inputrc
!.bashrc
!.bashrc.d/
!.bashrc.d/*
!.fbtermrc
!.dot/
!.dot/*
!.dircolors
!.pryrc
!.tigrc
