-----------
*
-----------
!.tmux.conf
!.vimrc
!.zshrc
!.gitignore
!.gitignore.global
!.gitconfig
!.vim
!.config
.config/.secrets
!.inputrc
!.bashrc.custom
!.bashrc.aliases
!.fbtermrc
!.dot/
!.dot/*
!.dircolors
!.pryrc
