#!/bin/bash

CMD=`{{ command }}`
DATA=`echo '{ "name": "{{ parameter }}", "value": "'$CMD'" }'`
HOSTGROUP={{ hostgroup }}
URL={{ url }}/api/hostgroups/$HOSTGROUP/parameters
curl -XPOST -s -netrc -H "Content-Type: application/json" -d "$DATA" $URL
