#!/bin/bash

CMD=`{{ command }}`
DATA=`echo '{ "name": "{{ parameter }}", "value": "'$CMD'" }'`
NODE={{ node }}
URL={{ url }}/api/hosts/$NODE/parameters
curl -XPOST -s -netrc -H "Content-Type: application/json" -d "$DATA" $URL
